<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ошибка</title>
</head>
<body>
    <h2>404 Страница не найдена</h2>
    <p>Вернитесь на <a href="/">главную страницу</a>.</p>
</body>
</html>
